<html>
<head>
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="app.css"/>
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="app7.clear.js"></script>
</head>
<body>
<h1>Hay, you are on the admin page!</h1>
<p>Number of calls: <%= numberOfCalls %></p>
<button id="clear">Clear Count</button>
</body>
</html>